h1 {
	text-align: center;
}

.nav-wrap {
	padding: 10px;
	margin: 10px 0 50px 0;
}

.nav-element {
	padding: 10px;
	text-decoration: none;
	border: 1px solid black;
	margin: 5px;
	border-radius: 10px;
	background-color: black;
	color: white;
}

.nav-element:hover {
	opacity: 0.7;
}

.nav-element:active {
	opacity: 0.3;
}

form {
	padding: 50px;
	display: block;
}

input {
	margin: 10px;
}

ul {
	margin: 50px;
}